body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc( 100vh - 50px );
}

#network-graph {
    width: 100%;
    height: 100%;
}

#controls {
    padding: 10px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
}

#sidebar {
    width: 300px;
    padding: 10px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
}

#sidebar h2 {
    margin-top: 0;
}

#slice-list {
    list-style: none;
    padding: 0;
}

#slice-list .slice-color {
    display:inline-block;
    width:10px;
    height:10px;
    border-radius:50%;
    background-color: #007bff;
}

#slice-list .slice-text {
    margin-left: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 14px;
}

#slice-list li {
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s;
}

#slice-list li:hover {
    background-color: #e0f7fa;
}

#slice-list li.selected {
    background-color: #b3e5fc;
}
#slice-list li.selected span {
    color: #000 !important;
}

#graph-container {
    flex: 1;
    overflow: hidden;
    padding: 10px;
    position: relative;
    border: 2px dashed #aaa;
    margin: 0px 10px 15px 10px;
}

.graph-controls {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    display: flex; 
    flex-direction: column; 
    gap: 5px;
}

.graph-controls > button {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
    cursor: pointer;
    width: 35px;
    height: 35px;
    z-index: 2;
    font-weight: bold;
}

#details-menu{
    display: flex;
    flex-direction: row;
    transition: width 0.3s ease;
    background-color: #f4f4f4;
    border-radius: 5px 0 0 5px;
}
#details-menu .close-menu-btn {
    content: '\00d7';
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    height: 30px;
    width: 32px;
    text-align: center;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0 0;
    transition: opacity 0.3s ease 0.2s, background-color 0.3s ease;
    border: 0px;
}
#details-menu .close-menu-btn:after {
    content: '\00d7';
}
#details-menu .close-menu-btn:hover {
    background-color: #bbb;
}
#details-menu .close-menu-btn:active {
    background-color: #999;
}
#details-menu.closed {
    width: 0px;
}
#details-menu.opened {
    width: 400px;
    overflow: auto;
}

#details-menu label {
    font-weight: bold;
}

#details-menu .details-container {
    transition: opacity 0.3s ease 0.2s;
    padding: 10px;
    width: 100%;
}
#details-menu.closed .details-container{
    opacity: 0;
}
#details-menu.closed .close-menu-btn {
    opacity: 0;
    visibility: hidden;
}
#details-menu.opened .details-container{
    opacity: 1;
}
#details-menu.opened .close-menu-btn {
    opacity: 1;
    visibility: visible;
}
#details-menu .details-container > div.row {
    padding: 0 10px;
}
.details-container h3 {
    padding: 5px 0 0 5px;
}

.form-group input {
    margin-bottom: 10px;
}
.form-group label {
    margin-bottom: 5px;
}
