<div class="container my-4">
    <h3>
        Slice [{{ slice.id }}]
    </h3>
    <h6 style="padding: 0 10px;">
        {% if slice.active %}
        <span class="mr-2 slice-color" style="background-color: rgb(40, 167, 69); "></span><span style="color: rgb(40, 167, 69);">enabled</span>
        {% else %}
        <span class="mr-2 slice-color" style="background-color: rgb(220, 53, 69);"></span><span style="color: rgb(220, 53, 69);">disabled</span>
        {% endif %}
    </h6>
    <hr>
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-group">
                <label for="slice_name" class="form-label">Name</label>
                <input type="text" class="form-control" id="slice_name" value="{{ slice.name }}" readonly>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="min_rate" class="form-label">Min Rate</label>
                            <input type="text" class="form-control" id="min_rate" value="{{ slice.min_rate }}" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="max_rate" class="form-label">Max Rate</label>
                            <input type="text" class="form-control" id="max_rate" value="{{ slice.max_rate }}" readonly>
                        </div>
                    </div>
                </div>
                {% if slice.rules.allowed_protocols %}
                <label for="allowed_protocols" class="form-label">Allowed Protocols</label>
                <ul>
                    {% for protocol in slice.rules.allowed_protocols %}
                        <li>{{ protocol }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if slice.rules.allowed_services %}
                    <label for="allowed_services" class="form-label">Allowed Services</label>
                    <ul class="list-group">
                        {% for ip, ports in slice.rules.allowed_services.items() %}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                <mark>{{ ip }}</mark>
                                <div>
                                    {% for port in ports %}
                                        <span class="badge bg-info">{{ port }}</span>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if slice.rules.allowed_ports %}
                    <label for="allowed_ports" class="form-label">Allowed Ports</label>
                    <ul>
                        {% for port in slice.rules.allowed_ports %}
                            <li><mark>{{ port }}</mark></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-md-12">
            <h5>Actions</h5>
            <div class="row slice-actions" style="padding: 0 10px;">
                <div class="col-md-4" style="padding: 0 3px;">
                    <button type="button" class="btn btn-primary w-100" title="Edit">Edit <i class="bi bi-pencil-fill"></i></button>
                </div>
                <div class="col-md-4" style="padding: 0 3px;">
                    {% if slice.active %}
                    <button type="button" class="btn btn-warning w-100" title="Disable"
                            hx-post="{{ ApiPaths.DEACTIVATE_SLICE(slice.id) }}"
                            hx-indicator="#request-indicator" hx-trigger="click"
                    >
                        Disable <i class="bi bi-lock-fill"></i>
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-success w-100" title="Enable"
                            hx-post="{{ ApiPaths.ACTIVATE_SLICE(slice.id) }}"
                            hx-indicator="#request-indicator" hx-trigger="click"
                    >
                        Enable <i class="bi bi-unlock-fill"></i>
                    </button>
                    {% endif %}
                </div>
                <div class="col-md-4" style="padding: 0 3px;">
                    <button type="button" class="btn btn-danger w-100" title="Delete"
                            hx-delete="{{ ApiPaths.SLICE(slice.id) }}"
                            hx-indicator="#request-indicator" hx-trigger="click"
                    >
                        Delete <i class="bi bi-trash-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
