<div class="modal fade" id="portsModal" tabindex="-1" role="dialog" aria-labelledby="portsModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="portsModalLabel">Insert Port</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="addPortForm">
					<!-- Port input -->
					<input type="number" step="1" id="port_input" class="form-control port-input" placeholder="Enter port">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="savePortBtn">Save</button>
			</div>
		</div>
	</div>
</div>